<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.escgame.mediasync</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Library/Scripts/ESC_Scripts/media_sync.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>30</integer>
        <key>Hour</key>
        <integer>4</integer>
    </dict>
    <key>StandardErrorPath</key>
    <string>/Users/escuser/Library/Logs/media-sync.log</string>
    <key>StandardOutPath</key>
    <string>/Users/escuser/Library/Logs/media-sync.log</string>
</dict>
</plist>
